@import "node_modules/bootswatch/dist/cerulean/variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootswatch/dist/cerulean/bootswatch";

$border-radius: 1.078em;

#root {
  @extend .d-flex, .flex-column, .min-vh-100;
}
h1 {
  @extend .text-primary;
}
main {
  @extend .container, .py-3;
}
footer {
  @extend .mt-auto, .text-center;
}
.profile-form,
.register-form,
.login-form {
  max-width: 30rem;
  @extend .bg-light, .border, .p-4;
  border-radius: $border-radius;
}

.profile-form {
  max-width: 50rem;
}

.form-group {
  @extend .mb-3;
}
.right-btn{
  display: flex;
}
.right-btn button{
  @extend .ms-auto;
}
.post-form textarea {
  font-size: $font-size-sm;
}
.navbar-nav {
  @extend .gap-3;
}

.nav-item a {
  text-decoration: none;
}
.card-user {
  @extend .card, .border-primary;
}
